/* 1528 */


@media (max-width: 1528px) {
    .left_column{
        transform: translate(-60px);
        animation: left_column-1528 0.4s ease;
        opacity: 0.8;
    }
}

@keyframes left_column-1528 {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-60px);
    }
}
@media (max-width: 1428px) {
    .uletel{
        opacity: 0;
        position: absolute;
        animation: uletell 0.8s ease;
        display: none;
    }

}

@keyframes uletell {
    0%{
        transform: translate(0, 0);
        opacity: 0.8;
        display: block;
    }
    100%{
        transform: translate(-200%);
        opacity: 0;
        display: none;
    }
}
@media (max-width: 1300px){
    
} 
@media (max-width: 1200px) {
    #new-product{
        width: 90%;
    }
    .tegi-category{
        width: 30.5vw;
    }

    #new-product img{
        object-fit: contain;
    }
    #second-product{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        
    }
    #featured-product{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .buy-menu h1{
        color: #fff;
        font-size: calc(8px + 1vmin);
    }
}

@media (max-width: 1170px){
    .games-content{
        display: none;
    }
    .shop-list{
        max-width: 98vw;
    }
    .logo-game{
        width: 99%;
    }
    .tegi-category a:last-child{
        display: none;
    }
    .tegi-category{
        justify-content: flex-start;
        max-width: 300px;
    }
    .games-content-media{
        display: flex;
    }
    #tab-media1{
        display: block;
    }
    header ul{
        width: 65vw;
    }
}

@media (max-width: 1050px){
    header ul{
        width: 60vw;
    }
}

@media (max-width: 1130px){
    .otsek-1{
        flex-direction: column-reverse;
    }

    .shop-list{
        width: 98vw;
        position: relative;
        left: 50%;
        display: flex;  
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        transform: translate(-50%);
    }
    .name-game-inShop{
        display: none;   
    }
    .slideri{
        width: 90vw;
        position: relative;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first{
        width: 100%;
    }
    .second{
        width: 100%;
    }
    .name-game-inShop-media h2{
        font-size: calc(10px + 2vmin);
    }
    
    .name-game-inShop-media{
        
        margin: 18px 20px ;
        display: block;
        position: absolute;
        padding: 0;
        top: 24px;
        left: 0;
        color: #fff;
        opacity: .8;
    }
    .first-2-otsek{
        display: flex;
        width: 95vw;
        
        justify-content: center;
        align-items: center;
    }
    .tegi-on-media{
        display:block;
        margin-left: 36px;
        
        

    }
    .first-1-otsek{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .tegi-on-fullscrean{
        display: none;
    }
    .logo-game{
        width: 50vw;
        position: relative;
        top: 50%;
        margin-right: 10px;
        transform: translate(0,-10%);
    }
    .first-2-otsek1{
        width: 40vw;
        height: 25vh;
        position: relative;

        margin-left: 10px;

    }
    .first-2-otsek1 .short-description p{
        width: 30vw;
    }
    .relise-data{
        width: 100%;
    }
    .data{
        width: 100%;
    }
    .shop-list .sopisanie{
       max-width: 99vw;
       margin: 36px 0 25px  25px
    }
    .shop-list .primary-block{
        width: 80vh;
        margin: 0 auto;
    }
    .buy-menu{
        width:70vw ;
        position: relative;
        left: -20px;
    }
}

@media (max-width: 950px){
    header ul{
        width: 55vw;
    }
    #new-product{
        margin-bottom: 48px;
    }
    .first-2-otsek1{
        margin-top: 20px;
        width: 30vw;
    }
    .logo-game{
        width: 60vw;
    }
}
@media (max-width: 924px){
    .baner{
        display: none;
    }
    .baner-media{
        display: block;
    }
    .navigationnie-knopki{
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 98%vw;
    }
    .navigationnie-knopki .navigationnie-ssilki{
        background:linear-gradient(to right, #3A6698, #0F216E) ;
        width: 97%;
        padding: 10px 0 10px 20px;
        
      }
    .navigationnie-knopki .navigationnie-ssilki:hover{
        background:linear-gradient(to right, #1F6BB8, #0F216E) ;
      }
    .navigationnie-knopki #searchform #store_nav_search_term{
        width: 100%;
    }
    .navigationnie-knopki #searchform {
        width: 99%;
        padding:  0 0 5px 0;
    }
    .drop-down-block-navigation-media {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        background: linear-gradient(to left bottom , #526070, #2D2F36);
        z-index: 1;
        overflow: hidden;
        
        

      }
      .drop-down-block-navigation-media span{
        font-weight: 800;
        font-size: 12px;
        color: #2EBFFF;
      }
      .drop-down-block-navigation-media .special-section a{
        display: inline;
        width: auto;
      
        padding:0 0 3px 0 ;
      }
      .drop-down-block-navigation-media a{
        text-decoration: none;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        color: rgba(228, 227, 227, 0.7);
        font-size: 15px;
        border-bottom :1px solid transparent ;
        transition: all 0.15s ease;
      }
      .drop-down-block-navigation-media .genre a{
        display: inline;
        width: auto;
        padding:0 0 3px 0 ;
        color: rgba(228, 227, 227, 0.9);
       
      }
      .drop-down-block-navigation-media .special-section{
        padding-left: 20px;
      }
      .drop-down-block-navigation-media .genre{
        padding-left: 20px;
      }
      .animate-slide-down {
        animation: slideDown 0.5s ease-in-out;
        display: flex;
        height: 381px;
        flex-direction: column;
        align-items: flex-start;
        
        z-index: 0;
        
    }
    .animate-slide-up {
        animation: slideUp 0.5s ease-in-out;
        display: none;
        height:0;
        flex-direction: column;
        align-items: flex-start;
        z-index: 0;
        
    }

    @keyframes slideUp {
        0% {
           
    
            height: 381px;
            flex-direction: column;
            display: flex;
        }
        100% {
            height: 0;

            display: none;
        }
    }
    @keyframes slideDown {
        0% {
            height: 0;
            display: none;
    
            
        }
        100% {
            height: 381px;
            flex-direction: column;
            display: flex;
        }
    }
}
@media (max-width: 830px){
    .first-2-otsek1{
        margin-top: 40px;
    }
    .buy-btn{
        width: 135px;
        padding: 0 16px 0 5px ;
    }
    .buy-menu{
        width:70vw ;
    }
    .shop-list .primary-block{
        width: 70%;
    }
    .shop-list{
        max-width:94vw ;
    }
    .tegi-category{
        width: 40vw;
    }
}

@media (max-width: 715px){
header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #171A21;
    z-index: 5;
    font-size:calc(11px + 1vmin);
    
}
.shop-list .sopisanie{
    font-size: calc(8px + 1vmin);
 }
.first-2-otsek{
    display: flex;
    width: 95vw;
    left: 0;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}
.otsek-1{
    max-width: 100vw;
}
header .logo{
    position: absolute;
    left: 0;
}
header nav ul{
    display: flex;
    flex-direction: column;
    height: 70vh;
    left:0;
    margin-top: 100px;
}
.buy-btn{
    left: 50% ;
}

#checkboxed{
    z-index: 10;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size:calc( 20px + 3vmin);
    position: absolute;
    right: 10%;
}
header nav ul li{
    font-size: 24px;
    flex-basis: 50%;
    margin: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
header nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
header nav ul li:last-child{
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
    margin-top: 105px;

}
header nav{
    display: flex;
    flex-direction:column ;

}
.media-footer{
    display: flex;
    flex-direction: column;
    width: 70vw;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15vh;
    color: #fff;
    opacity: 0.8;
    margin-left: 10px;
}
footer{
    display: none;
}
.header-checkbox{
    display: flex;
}

}
@media (max-width: 680px){
    .subtitle-column{
        width: 80px;
    }
}
@media (max-width: 600px){
    .tab-button-media{
        font-size: calc(4px + 1vmin);
    }
    .img-conteiner img{
        aspect-ratio: 16/8;

    }
    #new-product{
        margin-bottom: 32px;
    }
    .splide__wrapper{
        margin: 32px 0 0 0;
    }
    .baner-media{
        margin-bottom: 32px;
    }
    .navigationnie-knopki .navigationnie-ssilki{
        width: 95%;
    }

}
@media (max-width: 480px){

    .path_game{
        display: none;
    }
    .list-games-media{
        max-height:15vw ;
        min-height: 60px;
    }

    .img-conteiner img{
        aspect-ratio: 15/8;
        
        
    }

    .buy-btn-media button{
        background: linear-gradient(to right, #0ece0e,#0ec50e);
        border: none;
        border-radius: 3px;
        color: #fff;
        padding: 5px 5px;
        opacity: 0.9;
        transition: opacity 0.4s ease-in-out;
    }

    .buy-btn-media button:hover {
        opacity: 1;
    }
    
    
    .buy-menu-media{
        width: 80vw;
        position: relative;
    
        display: flex;
        align-items: flex-start;
        background: #49555F;
        margin: 24px 0 0 0;
        padding: 16px 16px 24px 16px;
        justify-content: space-between;
        border-radius: 5px;
    }

    .buy-menu-media h1{
        color: #fff;
        font-size: calc(9px + 1vmin);
        margin: 0;
    }

    .buy-menu-media .platform-img img{
        width: 100%;
    }

    .buy-menu-media .platform-img{
        width: 15px;
    
    }

    .buy-menu-otsek{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 5vh;
    }

    .shop-list .tab-button-media{
        width: 20vw;
    }

    .primary-block strong{
        font-size: calc(6px + 1vmin);
    }


    .buy-menu{
        display: none;
    }


    .first-2-otsek{
        height: 30vh;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .logo-game{
        width: 90vw;
        height: 20vh;
        margin: 0 0 140px 0;

    }

    .logo-game img{
        width: 100%;
        height: 100%;
    }

    .name-game-inShop-media{
        top: 10%;
        margin: 18px 20px 18px 0;
        
    }

    .short-description{
        display: none;
    }

    .short-description-media{
        display: block;

        padding-bottom:120px ;
    }
    .short-description-media p{
        font-size: 12px;
    }

    .tegi-on-media .tegi-category{
        width: 300px;
    }
    .tegi-on-media span,
    .tegi-on-media .app-teg{
        font-size: 10px;
        
    }
    .tegi-on-media span{
        margin-left: 0px;
    }

    .mini-info-game br{
        display: none;
    }

    .mini-info-game{
        height: 5vh;
        padding-top: 550px;
    }
    .mini-info-game p,
    .mini-info-game span{
        font-size: 10px;
    } 

    .relise-data{
        height: 17px;
    }

    .dev-row{
        height: 17px;
    }

    .first-2-otsek1{
        margin-top: 30px;
        width: 90vw;
        height: 30vh;
        right: 0;
        display: flex;
        flex-direction: column-reverse;
    }

}
@media (max-width: 430px){
    .platforms{
        display: none;
    }
    #new-product{
        margin-bottom: 24px;
    }
    .splide__wrapper{
        margin: 24px 0 0 0;
    }
    .baner-media{
        margin-bottom: 24px;
    }
    .name-game-inShop-media{
        top: 9%;
    }
    .navigationnie-knopki .navigationnie-ssilki{
        width: 93%;
    }
} 
@media (max-width: 340px){
    .tegi-on-media .tegi-category{
        width: 260px;
    }
}

@media (max-width: 340px){
    .img-conteiner img{
        margin-top: 10px;
    }
    #new-product{
        margin-bottom: 16px;
    }
    .splide__wrapper{
        margin: 16px 0 0 0;
    }
    .baner-media{
        margin-bottom: 16px;
    }
    .first-2-otsek1{
        width: 290px;
    }
}
@media (max-width: 340px){
    .first-2-otsek{
        width: 300px;
    }
}
