/* 1528 */


@media (max-width: 1528px) {
    .left_column{
        transform: translate(-60px);
        animation: left_column-1528 0.4s ease;
        opacity: 0.8;
    }
}

@keyframes left_column-1528 {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-60px);
    }
}
@media (max-width: 1428px) {
    .uletel{
        opacity: 0;
        position: absolute;
        animation: uletell 0.8s ease;
        display: none;
    }

}

@keyframes uletell {
    0%{
        transform: translate(0, 0);
        opacity: 0.8;
        display: block;
    }
    100%{
        transform: translate(-200%);
        opacity: 0;
        display: none;
    }
}

@media (max-width: 1200px) {
    #new-product{
        width: 90%;
    }
    

    #new-product img{
        object-fit: contain;
    }
    #second-product{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        
    }
    #featured-product{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .buy-menu h1{
        color: #fff;
        font-size: calc(8px + 1vmin);
    }
}

@media (max-width: 1170px){
    .games-content{
        display: none;
    }
    .shop-list{
        max-width: 98vw;
    }
    .logo-game{
        width: 99%;
    }
    .tegi-category a:last-child{
        display: none;
    }
    .tegi-category{
        justify-content: flex-start;
        max-width: 300px;
    }
    .games-content-media{
        display: flex;
    }
    #tab-media1{
        display: block;
    }
    header ul{
        width: 65vw;
    }
}

@media (max-width: 1050px){
    header ul{
        width: 60vw;
    }
}

@media (max-width: 1130px){
    .otsek-1{
        flex-direction: column-reverse;
    }

    .shop-list{
        width: 98vw;
        position: relative;
        left: 50%;
        display: flex;  
        flex-direction: column;
        align-items: center;

        transform: translate(-50%);
    }
    .name-game-inShop{
        display: none;   
    }
    .slideri{
        width: 90vw;
        position: relative;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first{
        width: 100%;
    }
    .second{
        width: 100%;
    }
    .name-game-inShop-media{
        margin: 18px 20px ;
        display: block;
    }
    
    .name-game-inShop-media h2{
        font-size: calc(10px + 2vmin);
        margin: 0;
        position: absolute;
        padding: 0;
        top: 50px;
        left: 0;
        color: #fff;
        opacity: .8;
    }
    .first-2-otsek{
        display: flex;
        width: 95vw;
        
        justify-content: center;
        align-items: center;
    }
    .tegi-on-media{
        display:block;
        margin-left: 36px;
        
        

    }
    .first-1-otsek{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .tegi-on-fullscrean{
        display: none;
    }
    .logo-game{
        width: 50vw;
        position: relative;
        top: 50%;
        margin-right: 10px;
        transform: translate(0,-10%);
    }
    .first-2-otsek1{
        width: 40vw;
        height: 25vh;
        position: relative;

        margin-left: 10px;

    }
    .first-2-otsek1 p{
        max-width: 40vw;
    }
    .shop-list .sopisanie{
       max-width: 99vw;
       margin: 36px 0 25px  25px
    }
    .shop-list .primary-block{
        max-width: 90vw;
        position: relative;
        left: 50%;
        transform: translate(-55%);
    }
    .buy-menu{
        width:70vw ;
        position: relative;
        left: -20px;
    }
}

@media (max-width: 950px){
    header ul{
        width: 55vw;
    }
    #new-product{
        margin-bottom: 48px;
    }
    .first-2-otsek1{
        margin-top: 20px;
        width: 30vw;
    }
    .logo-game{
        width: 60vw;
    }
}
@media (max-width: 924px){
    .baner{
        display: none;
    }
    .baner-media{
        display: block;
    }

}
@media (max-width: 830px){
    .first-2-otsek1{
        margin-top: 40px;
    }
    .buy-menu{
        width:70vw ;
    }
}

@media (max-width: 715px){
header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #171A21;
    z-index: 5;
    font-size:calc(11px + 1vmin);
    
}
.shop-list .sopisanie{
    font-size: calc(8px + 1vmin);
 }
.first-2-otsek{
    display: flex;
    width: 95vw;
    left: 0;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}
.otsek-1{
    max-width: 100vw;
}
header .logo{
    position: absolute;
    left: 0;
}
header nav ul{
    display: flex;
    flex-direction: column;
    height: 70vh;
    left:0;
    margin-top: 100px;
}
.buy-btn{
    left: 50% ;
}

#checkboxed{
    z-index: 10;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size:calc( 20px + 3vmin);
    position: absolute;
    right: 10%;
}
header nav ul li{
    font-size: 24px;
    flex-basis: 50%;
    margin: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
header nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
header nav ul li:last-child{
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
    margin-top: 105px;

}
header nav{
    display: flex;
    flex-direction:column ;

}
.media-footer{
    display: flex;
    flex-direction: column;
    width: 70vw;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 15vh;
    color: #fff;
    opacity: 0.8;
    margin-left: 10px;
}
footer{
    display: none;
}
.header-checkbox{
    display: flex;
}
.shop-list{
    max-width: 94vw;
}
}
@media (max-width: 680px){
    .subtitle-column{
        width: 80px;
    }
}
@media (max-width: 600px){
    /* #second-product{
        width: 40%;
        
    }
    .splide__wrapper{
        margin: 10px 0 0 0;
    }
    #second-product .cena-dlya-deshevie-igri{
        background: #407b9a;
        opacity: 0.9;
        margin:25px 0 0 0 ;
        height: 35px;
        display: flex;
        align-items: center;
        
    }
    #featured-product{
        width: 40%;
        
    } */
    .img-conteiner img{
        aspect-ratio: 16/8;

    }
    #new-product{
        margin-bottom: 32px;
    }
    .splide__wrapper{
        margin: 32px 0 0 0;
    }
    .baner-media{
        margin-bottom: 32px;
    }

}
@media (max-width: 480px){
    .logo-game{
        width: 40vw;
        top: 0;
    }

    .list-games-media{
        max-height:15vw ;
        min-height: 60px;
    }
    .img-conteiner img{
        aspect-ratio: 15/8;
        
        
    }
    .first-2-otsek{
        height: 20vh;
    }
    .first-2-otsek1{
        margin-top: 0;
        width: 40vw;
        right: 0;
    }
}
@media (max-width: 430px){
    .platforms{
        display: none;
    }
    #new-product{
        margin-bottom: 24px;
    }
    .splide__wrapper{
        margin: 24px 0 0 0;
    }
    .baner-media{
        margin-bottom: 24px;
    }
} 
@media (max-width: 340px){
    .img-conteiner img{
        margin-top: 10px;
    }
    #new-product{
        margin-bottom: 16px;
    }
    .splide__wrapper{
        margin: 16px 0 0 0;
    }
    .baner-media{
        margin-bottom: 16px;
    }
}
