

.shop-list{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 1150px;
    margin-top: 24px;
    z-index:1;
}
.shop-list img{
    z-index: 1;
}

.shop-list .img-default{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    width: 30wv;
    height: 100%;
    margin-right: 200px;
    
}

.shop-list .img-default img{
    width: 700px;
    height: 100%;
    min-width: 400px;
    box-shadow:rgb(0, 0, 0)0px 0px 5px 0px;
}

.shop-list a{
    display:flex;
    justify-content:flex-end;
    margin-right: 300px;
    margin-top: 30px;
    text-decoration: none;
}


.shop-list .sopisanie{
    color:#b9bec4;
    position: relative;
    left: 0;
    margin: 36px 0 0 25px;
    max-width: 50vw;
}

.shop-list .sopisanie p{
    font-size: 18px;
}
.shop-list .sopisanie ul{
    list-style-type: square;
    padding: 0 0 0 25px;
}
.shop-list .sopisanie ul li{
    margin-bottom: 5px;
}
.name-game-inShop-media{
    display: none;
    
}
.shop-list .sopisanie strong{
    text-transform: uppercase;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    padding:15px 0 15px;
    border-bottom: 1px solid #ffffff49;
}

.shop-list .primary-block{
    box-shadow:rgb(0, 0, 0)0px 0px 5px 0px;
    width: 50vw;
}

.shop-list .primary-block .nprimary{
    display: flex;
    flex-direction: column;
    position: relative;
}

.shop-list .primary-block h2{
    display:flex;
    justify-content:center;
    align-items:center;
    color: #b9bec4;
    opacity: 0.8;
    margin: 0;
    height: 40px;
    border-bottom: 1px solid #ffffff5d;
    font-size: calc(10px + 1vmin);
}

.shop-list .game-features-left strong,
.shop-list .game-features-right strong{
    margin-bottom: 15px;
}



.shop-list .primary-block strong{
    color: #b9bec4;
}

.viev-harakteristiki-1 {
    display: flex;
    justify-self: flex-start;
    opacity: 0.8;
    margin:15px 10px 5px 10px ;    

}
.viev-harakteristiki-2{
    display: flex;
    justify-content: space-around;
    opacity: 0.8;
    margin:15px 10px 5px 10px ;    
}
.shop-list .primary-block ul{
    margin: 0;
}
.shop-list .primary-block ul li{
    list-style-type: none;
    color: #b9bec4;
    font-size: calc(4px + 1vmin);
    margin-bottom: 5px;
    margin-top: 5px;
}
.shop-list .primary-block ul li span{
    margin-right: 10px;
    opacity: 0.5;
}

/* shop carusel start */
.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  
  .splide__wrappers{
    width: 750px;
    margin: 0 20px;
  }

  .first{
    position: relative;
    top: 12px;

  }
  .second{
    margin-top: 16px;
  }
  


  .splide__slide {
    opacity: 0.8;
  }
  .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 2px solid #fff;
    opacity: 1;
  }


  /* shop carusel stop */
.path_game{
    position: absolute;
    top: 0;
    display: flex;
    left:20px ;
    justify-content: center;
    align-items: center;
    
}
.path_game a,
.path_game p{
    text-decoration: none;
    color: #fff;
    margin: 0 4px 0 0;
    opacity: 0.6;
    font-size: 13px;
}

.path_game a:hover{
    opacity: 1;
}

.logo-game{
    width: 340px;
    margin: 88px 0 0 0;
}

.otsek-1{
    display: flex;
    margin-top: 40px;
        max-width: 99%;
}

.logo-game img{
    width: 100%;
}

.name-game-inShop{
    margin: 18px 20px ;
}

.name-game-inShop h2{
    font-size: calc(10px + 2vmin);
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: .8;
}


.short-description{
    margin-right: 16px;
    justify-content: flex-start;
    align-items: center;
    width:22vw ;
}
.short-description p{
    opacity: 0.8;
    font-size: calc(6px + 1vmin);
    color: #Fff;

}
.short-description-media{
    margin-right: 16px;
    justify-content: flex-start;
    align-items: center;
    display: none;
}
.short-description-media p{
    opacity: 0.8;
    font-size: calc(6px + 1vmin);
    color: #Fff;

}
.mini-info-game{
    display: flex;
    flex-direction: column;
    
}
.relise-data{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: calc(4px + 1vmin);
}

.relise-data p{
    color: #fff;
    opacity: 0.4;
    font-size: calc(4px + 1vmin);
}
.subtitle-column{
    width: 120px;
}
.subtitle-column span{
    color: #fff;
    opacity: 0.2;
    font-size: calc(4px + 1vmin);
}
.dev-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dev-row p{
    margin: 5px 0; 
    color: #fff;
    opacity: 0.4;
    font-size: calc(4px + 1vmin);
}
.tegi-category {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 31vw;
    position: relative;
}

.tag-label{
    opacity: 0.2;
    font-size: calc(6px + 1vmin);
    color: #fff;
    margin: 72px 0 0 4px;

}

.tegi-category .app-teg{
    margin: 4px 3px 0 0;
    padding: 3px 7px;
    text-decoration: none;
    color:#3e9deb;
    font-size: calc(3px + 1vmin);
    background: rgba(36,114, 133, 0.6);
}

.tegi-category .app-teg:hover{
    background:#3e9deb ;
    color: #fff;
}
.buy-menu{
    width: 40vw;
    position: relative;
    left: 5%;

    display: flex;
    background: linear-gradient(to right,#314250, #566573);
    margin: 24px 0 0 0;
    padding: 16px 16px 24px 16px;
    justify-content: space-between;
    border-radius: 5px;
}
.buy-menu-media{
    display: none;
}
.buy-menu h1{
    color: #fff;
    font-size: calc(10px + 1vmin);
}
.buy-menu .platform-img img{
    width: 100%;
}
.platforms-inShop{
    display: flex;
    align-items: flex-start;
    position:relative;
    
    
}
.buy-menu .platform-img{
    width: 20px;

}
.first-2-otsek{
    width: 28vw;
}


.buy-btn {
    display: flex;
    background: #000;
    width: 160px;
    padding:0 16px 0;
    justify-content: space-between;
    position: absolute;
    left: 60%;

    bottom: -25px ;
    align-items: center;
    height: 40px;
    border-radius: 5px;
}
.buy-btn span{
    color: #Fff;
    opacity: 0.8;
    margin-right: 5px;
    font-size: calc(4px + 1vmin);
}

.buy-btn button{
    height: 30px;
    width: 100px;
    background: linear-gradient(to right, #0ece0e,#0ec50e);
    border: none;
    border-radius: 3px;
    color: #fff;
    opacity: 0.9;
    transition: opacity 0.4s ease-in-out;
}
.buy-btn button:hover {
    opacity: 1;
}

.knopochka_s_playem{
    background-image: url(../images/ico_game_video.png);
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 32px;
    height: 32px;
    opacity: 1;
}
/* 
.tegi-on-media{
    padding-right: 1000px;
} */
.tegi-on-media{
    display: none;
}